# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Logs
logs/
*.log

# Hugging Face
.gitattributes

# Model files (jika ada)
*.bin
*.pt
*.pth
# .NET
bin/
obj/
*.user
*.suo

DB admin supabase.txt
