<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?define UpgradeCode = "{7E7A5D0F-CB70-4E6A-9F1A-9C7EFA1BDA54}" ?>

  <Package Name="NeoOptimize"
           Manufacturer="NeoOptimize"
           Version="$(var.ProductVersion)"
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033"
           Scope="perMachine">
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of NeoOptimize is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)" />

    <Feature Id="MainFeature"
             Title="NeoOptimize"
             Description="NeoOptimize Windows optimizer."
             Level="1"
             AllowAdvertise="no">
      <ComponentGroupRef Id="CoreFilesGroup" />
      <?if $(var.IncludeAi) = 1 ?>
      <ComponentGroupRef Id="AiAdvisorFilesGroup" />
      <?endif?>
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="NeoOptimize">
        <?if $(var.IncludeAi) = 1 ?>
        <Directory Id="AIADVISORFOLDER" Name="AIAdvisor" />
        <?endif?>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuNeoOptimizeFolder" Name="NeoOptimize" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="cmpDesktopShortcut" Guid="*">
        <Shortcut Id="scDesktopNeoOptimize"
                  Name="NeoOptimize"
                  Description="Launch NeoOptimize"
                  Target="[INSTALLFOLDER]NeoOptimize.App.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM"
                       Key="Software\NeoOptimize"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpAppExe" Guid="*">
        <File Id="filAppExe" Source="$(var.CoreSourceDir)\NeoOptimize.App.exe" KeyPath="yes" />
      </Component>
      <Component Id="cmpAppDll" Guid="*">
        <File Id="filAppDll" Source="$(var.CoreSourceDir)\NeoOptimize.App.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmpAppDeps" Guid="*">
        <File Id="filAppDeps" Source="$(var.CoreSourceDir)\NeoOptimize.App.deps.json" KeyPath="yes" />
      </Component>
      <Component Id="cmpAppRuntime" Guid="*">
        <File Id="filAppRuntime" Source="$(var.CoreSourceDir)\NeoOptimize.App.runtimeconfig.json" KeyPath="yes" />
      </Component>
      <Component Id="cmpCoreDll" Guid="*">
        <File Id="filCoreDll" Source="$(var.CoreSourceDir)\NeoOptimize.Core.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmpServicesDll" Guid="*">
        <File Id="filServicesDll" Source="$(var.CoreSourceDir)\NeoOptimize.Services.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmpAiAdvisorDll" Guid="*">
        <File Id="filAiAdvisorDll" Source="$(var.CoreSourceDir)\NeoOptimize.AIAdvisor.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuNeoOptimizeFolder">
      <Component Id="cmpStartMenuShortcut" Guid="*">
        <Shortcut Id="scMenuNeoOptimize"
                  Name="NeoOptimize"
                  Description="Launch NeoOptimize"
                  Target="[INSTALLFOLDER]NeoOptimize.App.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="scMenuUninstall"
                  Name="Uninstall NeoOptimize"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        <RemoveFolder Id="RemoveProgramMenuNeoOptimizeFolder" On="uninstall" />
        <RegistryValue Root="HKLM"
                       Key="Software\NeoOptimize"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <?if $(var.IncludeAi) = 1 ?>
  <Fragment>
    <DirectoryRef Id="AIADVISORFOLDER">
      <Component Id="cmpAiRuntimeReadme" Guid="*">
        <File Id="filAiRuntimeReadme" Source="$(var.AiSourceDir)\README.txt" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <?endif?>

  <Fragment>
    <ComponentGroup Id="CoreFilesGroup">
      <ComponentRef Id="cmpAppExe" />
      <ComponentRef Id="cmpAppDll" />
      <ComponentRef Id="cmpAppDeps" />
      <ComponentRef Id="cmpAppRuntime" />
      <ComponentRef Id="cmpCoreDll" />
      <ComponentRef Id="cmpServicesDll" />
      <ComponentRef Id="cmpAiAdvisorDll" />
      <ComponentRef Id="cmpStartMenuShortcut" />
      <ComponentRef Id="cmpDesktopShortcut" />
    </ComponentGroup>
  </Fragment>

  <?if $(var.IncludeAi) = 1 ?>
  <Fragment>
    <ComponentGroup Id="AiAdvisorFilesGroup">
      <ComponentRef Id="cmpAiRuntimeReadme" />
    </ComponentGroup>
  </Fragment>
  <?endif?>
</Wix>
